/*Index*/
.pic {
    width: 100vw;
    height: 820px;
    background-image: url('/images/banna.jpg');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
}


.face {
    position: absolute;
    right: 210px;
}

    .face img {
        width: 320px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;  
        border: double;
        border-color: darkorange;
        border: 3px solid dashed;
    }

.cardpic {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    align-content: center;
    margin-bottom: 16px;
}
    
.text {
    max-width: 700px;
    color: white;
    padding-right: 70px;
}
.text h3{
    color:orange;
}



    .text h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .text p {
        font-size: 16px;
        line-height: 1.5;
    }

.projects {
    padding: 60px 80px;
}

    .projects h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
        font-weight: 500;
        color:orange;   
    }
    
.row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box {
    width: 30%;
    background: #000000;
    padding: 35px;
    color: white;
    border-radius: 12px;   
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
    
    .box .tag {
        font-weight: 300;
        color: white;
    }

/*Layout - Footer*/

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5px 12px 0;
   
}

.footer {
    display: flex;
    align-items: center;
    gap: 16px;
}

    .footer img {
        width: 25px;
    }

    .footer span {
        color: #6c757d;
        font-size: 14px;
    }
.project-image {
    width: 100%;
    height: 160px;
    object-fit: cover   ;
    border-radius: 3px;
    margin-bottom: 15px;
}

 