/*Header*/

.fname, .lname {
    font-size: 20px;
    color:whitesmoke;
}

.fname {
    font-weight: 700;
    display: flex;
    align-items: center; 
    gap: 10px;
}

.lname {
    font-weight: 4100;
}

/*Index*/

body {
    margin: 0;
    background-color: black;
}

.pic {
    width: 100vw;
    height: 820px;
    background-image: url('/images/redbann.jpg');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.face {
    position: absolute;
    right: 150px;
}

    .face img {
        width: 320px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;  
        border: double;
        border-color: darkslategray);
        border: 5px solid;
    }

.cardpic {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    align-content: center;
    margin-bottom: 16px;
}
    
.text {
    max-width: 800px;
    color: white;
    padding-right: 70px;
}
.text h2{
    color:#a13333;
}
    .text h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 10px;     
    }

/*Skills*/

.skills-section {
    padding: 40px 50px;
    margin-top: 100px;
}

    .skills-section > h2 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 50px;
        color: #fff;
        gap: 240px;
    }

.skills-grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px 80px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

    .skill-header img {
        width: 36px;
        height: 36px;
        object-fit: contain;
    }

    .skill-header h3 {
        margin: 0;
        font-size: 20px;
        color: #fff;
    }

.skill {
    width: 100%;
    height: 12px;
    background: #222;
    border-radius: 8px;
    overflow: hidden;
}

.level {
    height: 100%;
    background: #a13333;
}

    .level.csharp {
        width: 35%;
    }

    .level.html {
        width: 45%;
    }

    .level.css {
        width: 50%;
    }

    .level.java {
        width: 25%;
    }

/*Project*/

.projects {
    padding: 50px 150px;
    margin-bottom: 100px;
}

    .projects h2 {
        text-align: center;
        font-size: 40px;
        margin-top: 80px;
        margin-bottom: 40px;
        color: #e3d6d6;
    }
    
.row {
    display: flex;
    gap: 20px;
    justify-content: center;
}



.box {
    width: 32%;
    background: #0d031b;
    padding: 25px;
    border: 3px solid #6d1b32;
    border-radius: 10px;
}
    .box h4 {
        color: #a13333;
    }
    .box p {
        color:white;
    }

.project-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.html{
    scroll-behavior: smooth;
}

/*Footer*/

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5px 12px 0;
   
}

.footer {
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
}

    .footer img {
        width: 25px;
    }

    .footer span {
        color: #6c757d;
        font-size: 14px;
    }
