<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Act_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Act_1.styles.css" asp-append-version="true" />
</head>
 

<body>
    <header>       
        <nav class="navbar navbar-expand-sm navbar-dark bg-black shadow-sm">
            <div class="container">
                <a class="navbar-brand fw-bold text-white" asp-page="/Index"></a>
                <div class="d-flex align-items-center gap-2">
                    <img src="~/images/fishda.png" alt="Site logo" width="40">
                    <span class="fname">Dave</span>
                    <span class="lname">Patatag</span>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <a href="#Home" class="nav-link text-white">Home</a>
                        </li>                                           
                                                         
                        <li class="nav-item">
                            <a href="#About" class="nav-link text-white">About</a>
                        </li>
                       
                        <li class="nav-item">
                            <a href="#Project" class="nav-link text-white">Project</a>
                        </li>
                       
                        <li class="nav-item">
                            <a href="#Contacts" class="nav-link text-white">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="Contacts" class="border-top footer text-muted">
        <div class="container foot">           
            <span>&copy; 2025 - Dave Patatag</span>

            <nav class="footer">
                <a href="https://myaccount.google.com/" target="_blank" rel="noopener noreferrer">
                    <img src="~/images/email.png" style="width:25px;">
                </a>             
                <span>ccs.davepatatag@gmail.com</span>

                <img src="~/images/phone.png" style="width:25px;">
                <span>0914-928-1475</span>
            </nav>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>