@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center"> 
    <h1 class="display-4">My Portfolio</h1> 
</div>

<h1>Personal Information</h1>

<div>
    <h4>About Me</h4>
    <p>I am 21 year old, and currently Bachelor Science in Information Technology at Asian College of Technology.</p>
</div>

<div>
    <h4>Address</h4>
    <h6>Currently lives at Sitio Pangpang, San Isidro, Talisay City Cebu</h6>
</div>

<div>
    <h4>Contact</h4>
    <h6>09149347026</h6>
</div>

