@page
@model IndexModel
@{
    ViewData["Title"] = "My Portfolio";
}

<link rel="stylesheet" href="~/css/portfolio.css" />
<div class="pic">
   
    <div class="face">
        <img src="~/images/bike.jpg" />
    </div>

    <div class="text">       
        <h2 class="h3text">Learner/UX Designer</h2>
        <h5 >I am Dave Patatag a Bachelor of Science in Information Technology currently attending at Asian College of University. 
           I enjoy exploring how technology works, I also have a passion for design and editing. </h5>     
    </div>
</div>

<div class="skills-section">
    <h2>Skills</h2>

    <div class="skills-grid">
        <div class="skill-item">
            <div class="skill-header">
                <img src="~/images/c-sharp.png" alt="C#" />
                <h3>C#</h3>
            </div>
            <div class="skill"><div class="level csharp"></div></div>
        </div>
        <div class="skill-item">
            <div class="skill-header">
                <img src="~/images/html.png" alt="HTML" />
                <h3>HTML</h3>
            </div>
            <div class="skill"><div class="level html"></div></div>
        </div>
        <div class="skill-item">
            <div class="skill-header">
                <img src="~/images/text.png" alt="CSS" />
                <h3>CSS</h3>
            </div>
            <div class="skill"><div class="level css"></div></div>
        </div>
        <div class="skill-item">
            <div class="skill-header">
                <img src="~/images/jvscript.png" alt="Java" style="width: 40px" />
                <h3>Javascript</h3>
            </div>
            <div class="skill"><div class="level java"></div></div>
        </div>
    </div>
</div>

<div class="projects">
    <h2>My Projects</h2>

    <div class="row">

        <div class="box">
            <img src="~/Images/hang.png" class="project-image" />
            <h4>The Hangman</h4> 
            <p>The Hangman is a simple word-guessing game where players try to guess the hidden word letter by letter.
               Each wrong guess brings the drawing closer to completion, making the game both fun and challenging.</p>
        </div>

        <div class="box">
            <img src="~/Images/flash.png" class="project-image" />
            <h4>Flashcard</h4>          
            <p>Flashcard is a study tool designed to help users review and memorize information easily.
               It shows questions and answers in a card format, making learning more interactive and organized.</p>
        </div>

        <div class="box">
            <img src="~/Images/verter.png" class="project-image" />
            <h4>Mauiverter</h4>          
            <p>Mauiverter is a basic unit conversion app that helps users convert values like temperature, length,
                and other measurements. It provides quick and clear results using a simple and clean interface.</p>
        </div>

    </div>
</div>


