@page
@model IndexModel
@{
    ViewData["Title"] = "My Portfolio";
}

<link rel="stylesheet" href="~/css/portfolio.css" />

<div class="pic">

    <div class="face">
        <img src="~/images/bike.jpg" />
    </div>

    <div class="text">       
        <h3 class="h3text">Learner/UX Designer</h3>
        <p>I am Dave Patatag a Bachelor of Science in Information Technology currently attending at Asian College of University. 
           I enjoy exploring how technology works and I also have a passion for design and editing. </>     
    </div>
</div>

<div class="projects">
    <h2>My Projects</h2>
    <p></p>

    <div class="row">

        <div class="box">
            <img src="~/Images/hangman.png" class="project-image" />
            <h4>The Hangman</h4> 
            <p class="tag">https://github.com/Dave-Patatag/Hangman.git</p>
        </div>

        <div class="box">
            <img src="~/Images/flashcard.png" class="project-image" />
            <h4>Flashcard</h4>          
            <p class="tag">https://github.com/Dave-Patatag/FlashCard-ML.git</p>
        </div>

        <div class="box">
            <img src="~/Images/maui.png" class="project-image" />
            <h4>Mauiverter</h4>          
            <p class="tag">https://github.com/Dave-Patatag/Maui-Converter.git</p>
        </div>

    </div>
</div>


